<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catálogo  de Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catálogo de Jogos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="Welcome Section">

<ion-card>
<ion-card-header>
<ion-card-title>Bem Vindo ao Catálogo de Jogos!</ion-card-title>
<ion-card-subtitle>Descubra os Melhores Jogos</ion-card-subtitle>
</ion-card-header>

<ion-card-content>Explore nossa coleção de jogos incríveis. Use a aba de "Jogos" Para ver a lista completa. </ion-card-content>
</ion-card>

<ion-button expand="block" (click)="goToGamesList()" color="primary"> Ver Lista de Jogos </ion-button>
</div>  
</ion-content>


